h1 {
    text-align: center;
    font-family: vogueDupe;
    font-weight: normal;
    font-size:3em;
}

@font-face {
  font-family: vogueDupe;
  src: url(fonts/DubielPlain.ttf);
}


h2{
    text-align: center;
}

#navBar {
  position: sticky; /* A sticky navBar stays at the top when you scroll downwards. I like having these. Change as needed :). - Molly */
  top: 0;
  overflow: hidden;
  background-color: #333;
  }
  
#navBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  }
  
#navBar a:hover {
  background-color: #ddd;
  color: black;
}

#navBar a.active {
  background-color: #04AA6D;
  color: white;
}

.imgExpand{ 
display: flex;
flex-flow: row wrap ;
justify-content: space-evenly;
align-items: center;
background-color: #ededed;
width: 75%;
height:auto;
margin-left: auto;
margin-right: auto;
padding:1%;
}

img {
height: 300px;
width: auto;
padding: 15px;
background: lightgray;
}
img:hover{
transform: scale(1.8);
transition-duration: 0.4s;
    }

.sectionBox {
    background:
        linear-gradient(to bottom, #f7f7f7, #efefef),
        url("https://www.transparenttextures.com/patterns/paper.png");
    background-size: cover;
    
    padding: 25px;
    margin: 40px auto;
    width: 75%;

    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);

    column-width: 350px;
    column-gap: 40px;
}


.colorGrid{
display: flex;
flex-wrap: wrap;
gap: 20px;
width:70%;
height:auto;
margin: 0 auto;
}

.swatch{
display: flex;
align-items: center;
gap: 12px;
background: lightGray;
padding: 15px;
border-radius: 8px;
min-width: 200px;}

.swatch:hover{
transform:scale(1.2);
transition-duration:0.2s;
}

.sampleColor{
width: 100%;
height: 50px;
border-radius: 4px;
border: 1px solid black;
            
